#root {
  min-width: 400px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  grid-template-columns: initial;
}

.fields-floor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field-input {
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  text-align: center;
  color: var(--field-input-color);
  background-color: transparent;
  border: 2px solid var(--field-input-border-color);
  border-radius: 5px;
  outline: none;
  padding: 5px 0;
}

.field-label {
  font-size: 14px;
  text-align: center;
  color: var(--field-label-color);
}

.color-panel {
  --field-input-color: #ffffff;
  --field-input-border-color: #242424;
  --field-label-color: #808080;
  box-sizing: border-box;
  gap: 10px;
  padding: 16px;
  background-color: #121212;
  border-radius: 8px;
}

.color-panel .react-colorful {
  width: 100%;
  height: 300px;
}

.card > #session-arn-field {
  gap: 10px;
  width: initial;
  padding-left: 10px;
  padding-right: 10px;
}

.card > #session-arn-field > .field-input {
  border-style: double;
}

.card > button {
  font-size: 14px;
}
