.card {
  padding: 2em;
  grid-template-columns: initial;
}

.card > #session-arn-field {
  gap: 10px;
  width: initial;
  padding-left: 10px;
  padding-right: 10px;
}

.card > #session-arn-field > .rcp-field-input {
  border-style: double;
}

.card > button {
  font-size: 14px;
}
