#root {
  min-width: 400px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.card > #sessionARNField {
  gap: 10px;
  width: initial;
  padding-left: 10px;
  padding-right: 10px;
}

.card > #sessionARNField > .rcp-field-input {
  border-style: double;
}

.card > button {
  font-size: 14px;
}
