name: Playwright Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions: {}
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      SAFE_CHAIN_MINIMUM_PACKAGE_AGE_HOURS: 168 # 7æ—¥
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
        with:
          bun-version-file: .bun-version
      - name: Install
        run: |
          curl -fsSL https://raw.githubusercontent.com/AikidoSec/safe-chain/main/install-scripts/install-safe-chain.sh | sh -s -- --ci
          bun install
      - run: bunx playwright install --with-deps
      - run: bun run e2e
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
