---
name: release
on:
  release:
    types:
      - published
permissions: read-all
jobs:
  release:
    runs-on: ubuntu-latest
    env:
      SAFE_CHAIN_MINIMUM_PACKAGE_AGE_HOURS: 168 # 7æ—¥
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        with:
          bun-version-file: .bun-version
      - name: Install
        run: |
          curl -fsSL https://raw.githubusercontent.com/AikidoSec/safe-chain/main/install-scripts/install-safe-chain.sh | sh -s -- --ci
          bun install
      - name: Build
        run: |
          bun run zip:chrome
          bun run zip:firefox
      - name: Get Firefox add-on ID
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: get_firefox_addon_id
        with:
          result-encoding: string
          script: |
            const {tsImport} = require('tsx/esm/api')
            const {firefoxAddonID} = await tsImport( './constant.ts', process.env.GITHUB_WORKSPACE + '/')
            return firefoxAddonID
      - name: Submit to stores
        run: |
          bunx wxt submit \
               --chrome-zip dist/*-chrome.zip \
               --firefox-zip dist/*-firefox.zip --firefox-sources-zip dist/*-sources.zip
        env:
          CHROME_EXTENSION_ID: ${{ secrets.CHROME_EXTENSION_ID }}
          CHROME_CLIENT_ID: ${{ secrets.CHROME_CLIENT_ID }}
          CHROME_CLIENT_SECRET: ${{ secrets.CHROME_CLIENT_SECRET }}
          CHROME_REFRESH_TOKEN: ${{ secrets.CHROME_REFRESH_TOKEN }}
          FIREFOX_EXTENSION_ID: ${{ steps.get_firefox_addon_id.outputs.result }}
          FIREFOX_JWT_ISSUER: ${{ secrets.FIREFOX_JWT_ISSUER }}
          FIREFOX_JWT_SECRET: ${{ secrets.FIREFOX_JWT_SECRET }}
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
